/*fonts from google*/
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/jduSEW07_j4sIG_ERxiq4Q.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/HXiERDIZdwFzjXlbcMq7XPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptserif/v4/QABk9IxT-LFTJ_dQzv7xpGOb2gHztoQeulij-1lvl-8.woff) format('woff');
}
/**/

/*reset all*/
* {
  padding: 0;
  margin: 0;
}
/**/

body {
  background: url("../img/bg.jpg");
  border-top: 3px solid black;
  min-width: 800px;
}

p, a, li, h3 {
    font-family: 'PT Sans', sans-serif;
}

a {
  font-size: 14px;
  color: #036;
  text-decoration: underline;
}

header .mini-logo {
  font-size: 24px;
  font-weight: bold;
  font-variant: small-caps;
  margin-left: 10px;
  /*float: left;*/
  position: absolute;
  top: 4px;
}

header nav {
   margin-top: 15px;
   margin-left: -webkit-calc(50% - 200px);
   display: inline-block;
}

header nav p {
  display: inline;
  font-size: 14px;
  font-weight: bold;
}

header nav a {
  display: inline;
}

header nav * {
  margin-right: 20px;
}

header .menu {
  float: right;
  font-size: 14px;
  color: #666;
  background: #ddd;
  padding: 3px;
  margin: 15px 10px 0 0;
  border-radius: 10px;
  box-shadow: 3px 3px 10px gray;
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(218,218,218,1) 100%);
}

header .menu img {
  margin-left: 9px;
}

header .menu p {
  margin: 3px 11px 3px 0;
  text-shadow: 1px 1px white;
  display: inline;
}

header .menu li {
  margin: 3px;
  margin-left: 20px;
  margin-top: 7px;
}

header .menu:hover ul {
  display: block;
  margin-top: 10px;
}

header .menu ul {
  list-style: none;
  display: none;
}

header .menu a {
  text-decoration: underline;
  color: #666;
}

.main, footer {
  width: 800px;
  margin: 0 auto;
}

.main {
  margin-top: 140px;
}

.main .article:after {
  content: ".";
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
}

.main .article aside {
  float: left;
  width: 180px;
  font-size: 10px;
  color: #666;
  line-height: 16px;
}

.main .article article {
  margin-left: 200px;
  width: 600px;
  font-size: 14px;
  color: #333;
}

.main .article article p {
  margin-bottom: 25px;
}

.main .article header {
  margin-bottom: 75px;
  margin-left: 200px;
  width: 600px;
}

.main .article h2 {
  font-family: 'PT Serif', serif;
  font-size: 24px;
  font-weight: bold;
}

.others {
  margin-top: 80px;
  padding-top: 20px;
  border-top: 3px solid #b2b2b2;
}

.others > p {
  width: 180px;
  display: inline;
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.others div p {
  font-size: 12px;
  color: #333;
}

.others div {
  margin-left: 16px;
  width: 190px;
  float: left;
}

.others:after {
  content: ".";
  visibility: hidden;
  display: block;
  clear: both;
  height: 0;
}

footer .copy {
  font-size: 12px;
  color: #666;
  border-top: 1px solid #999;
  padding-top: 10px;
  margin-bottom: 60px;
  margin-top: 35px;
}