/*fonts from google*/
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/jduSEW07_j4sIG_ERxiq4Q.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/HXiERDIZdwFzjXlbcMq7XPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/Pq7I38KtY37kAe5aYFKrSA.woff) format('woff');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptserif/v4/QABk9IxT-LFTJ_dQzv7xpGOb2gHztoQeulij-1lvl-8.woff) format('woff');
}
/**/

/*reset all*/
* {
	padding: 0;
	margin: 0;
}
/**/


p, h2, .flag, a, input {
	font-family: 'PT Sans', sans-serif;
}

body {
	background: url("../img/bg.jpg");
}

.main, footer .copy {
	width: 800px;
	margin: 0 auto;
}

.news {
	position: relative;
	margin-bottom: 55px;
}

.flag {
	position: absolute;
	top: -12px;
	left: -42px;
	font-size: 14px;
	font-style: italic;
	color: white;
	padding: 3px 7px;
}

.red {
	background: #f66;
}

.green {
	background: #9c6;
}

.blue {
	background: #69c;
}

.news p, h2 {
	margin-left: 200px;
}

.news h2 {
	font-size: 18px;
	text-decoration: underline;
	font-weight: normal;
}

.news p {
	margin-left: 200px;
	font-size: 14px;
}

.news img {
	float: left;
}

.clear {
	clear: both;
}

header .mini-logo {
	font-size: 24px;
	font-weight: bold;
	font-variant: small-caps;
	margin-left: 10px;
}

header h1, .under-logo {
	text-align: center;
}

header .login, .mini-logo {
	display: inline-block;
}

header h1 {
	font-family: 'PT Serif', serif;
	font-weight: bold;
	font-size: 72px;
	margin-top: 50px;
}

header .under-logo {
	font-size: 18px;
	margin-bottom: 125px;
}

a {
	text-decoration: none;
	font-size: 14px;
	color: #666;
	border-bottom: 1px dotted #666;
	line-height: 0.8em;
}

header .login {
	float: right;
	margin: 15px 10px 0 0;
}

header .line {
	width: 100%;
	height: 4px;
	background: black;
}

footer .copy {
	font-size: 12px;
	color: #666;
	border-top: 1px solid #666;
	padding-top: 10px;
	margin-bottom: 80px;
	margin-top: 150px;
}

.login-box {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -182px;
    margin-top: -115px;
	width: 365px;
	height: 230px;
	background: white;
	box-shadow: 0 0 24px black;
}

.login-form {
	margin: 50px auto 0;
	width: 240px;
}

.login-form * {
	font-size: 14px;
}

.login-form input[type=text], input[type=password]{
	width: 240px;
	height: 24px;
	margin: 0 auto;
	margin-bottom: 18px;
	padding: 2px;
}

.login-form input[type=submit]{
	width: 65px;
	height: 25px;
	margin: 5px 13px 0 0;
	border: 1px solid #989898;
	border-radius: 3px;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%);
}

header, .main, footer {
	/*blur не блюрит фон :(*/
	-webkit-filter: blur(2px);
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: black;
	opacity: 0.3;
}