h2, p
{
	margin: 0 0 0 0;
}

h2
{
	color: #666;
}

html
{
	background-image: url(ie.png);
	/*padding:0;
	margin:0;
	height: 100%;*/
}

.main
{
	/*margin: 10px auto 50px;*/
	margin: 0 auto;
	width: 80%;
	color: black;
	background: #f0f0f0;
	border: solid 5px #666;
	border-style: dashed;
	padding: 10px;
}

.footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 10px 0 10px 0;
	margin: 10px 0 0 0;
	background: #39b54a;
	color: #fff;
	width: 100%;
	text-align: right;
}

.ans
{
	padding: 0 0 10px 10px;
}

a
{
	color: #08c;
	text-decoration: none;
}
