h2, p
{
	margin: 0 0 0 0;
}

p
{
	padding: 0 0 0 20px;
}

h2
{
	color: #666;
}

html
{
	background-image: url(29.png), url(37.png), url(53.png);
	/*padding:0;
	margin:0;
	height: 100%;*/
}

.main
{
	margin: 10px auto 50px;
	width: 80%;
	color: black;
	background: #f0f0f0;
	border: solid 5px #666;
	border-style: dashed;
	padding: 10px;
	border-radius:10px; 
	-webkit-border-radius:10px; 
	-moz-border-radius:10px;

	-webkit-box-shadow: 0 0 100px #f0f0f0;
	-moz-box-shadow: 0 0 100px #f0f0f0;
	box-shadow: 0 0 100px #f0f0f0;

}

.footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 10px 0 10px 0;
	margin: 10px 0 0 0;
	background: #39b54a;
	color: #fff;
	width: 100%;
	text-align: right;
}

a
{
	color: #08c;
	text-decoration: none;
}
