.main, footer {
    width: 800px;
    margin: 0 auto;
}
a {
    font-size: 14px;
    color: #036;
    text-decoration: underline;
}

header {
    .menu {
        float: right;
        font-size: 14px;
        color: #666;
        background: #ddd;
        padding: 3px;
        margin: 15px 10px 0 0;
        .border-radius(10px);
        .box-shadow(~"3px 3px 10px gray");
        .gradient(~"linear-gradient(top, rgba(255,255,255,1) 0%,rgba(218,218,218,1) 100%)");

        a {
            text-decoration: underline;
            color: #666;
        }
        ul {
            list-style: none;
            display: none;
        }
        img {
            margin-left: 9px;
        }
        p {
            margin: 3px 11px 3px 0;
            text-shadow: 1px 1px white;
            display: inline;
            padding-left: 10px; 
        }
        p:before {
            background: url("../img/tr.png") no-repeat;
            content: " ";
            width: 8px;
            height: 8px;
            display: inline-block;
            margin-right: 2px;
        }

        li {
            margin: 3px;
            margin-left: 20px;
            margin-top: 7px;
        }
    }
    nav {
        margin-top: 15px;
        margin-left: ~"-webkit-calc(50% - 200px)";
        margin-left: ~"-moz-calc(50% - 200px)";
        margin-left: ~"-calc(50% - 200px)";
        display: inline-block;
        a {
            display: inline;
        }
        p {
            display: inline;
            font-size: 14px;
            font-weight: bold;
        }
        * {
            margin-right: 20px;
        }
    }
    .menu:hover {
        ul {
            display: block;
            margin-top: 10px;
        }
        p:before {
            background-position: 0 -8px;
        }
    }
    .mini-logo {
        font-size: 24px;
        font-weight: bold;
        font-variant: small-caps;
        margin-left: 10px;
        position: absolute;
        top: 4px;
    }
}
p, a, li, h3 {
    font-family: 'PT Sans', sans-serif;
}
footer {
    .copy {
        font-size: 12px;
        color: #666;
        border-top: 1px solid #999;
        padding-top: 10px;
        margin-bottom: 60px;
        margin-top: 35px;
    }
}
.main {
    margin-top: 140px;
    .article:after {
        content: ".";
        visibility: hidden;
        display: block;
        clear: both;
        height: 0;
    }
    .article {
        article {
            margin-left: 200px;
            width: 600px;
            font-size: 14px;
            color: #333;
            p {
                margin-bottom: 25px;
            }
        }
        header {
            margin-bottom: 75px;
            margin-left: 200px;
            width: 600px;
        }
        aside {
            float: left;
            width: 180px;
            font-size: 10px;
            color: #666;
            line-height: 16px;
        }
        h2 {
            font-family: 'PT Serif', serif;
            font-size: 24px;
            font-weight: bold;
        }
    }
}
.others:after {
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
}
.others {
    margin-top: 80px;
    padding-top: 20px;
    border-top: 3px solid #b2b2b2;
    div {
        margin-left: 16px;
        width: 190px;
        float: left;
        p {
            font-size: 12px;
            color: #333;
        }
    }
    & > p {
        width: 180px;
        display: inline;
        float: left;
        font-size: 14px;
        font-weight: bold;
        color: #333;
    }
}


@media screen and (max-device-width: 640px) {
    aside {
        display: none;
    }
    .main .article {
        header, article {
            margin-left: 0;
            width: 560px;
        }
    }

    .main {
        width: 560px;
    }

    .others {
        p {
            width: 100%;
            margin-bottom: 10px;
        }

        .first {
            margin-left: 0;
        }

        div {
            width: 170px;
            img {
                width: 170px;
            }
        }
    }

    body {
        min-width: 640px;
    }

    header, .main, footer {
        width: 560px;
    }

    header {
        margin: 0 auto;
        nav {
            margin-top: 30px;
        }
        .mini-logo, nav {
            margin-left: 0;
        }
        .menu {
            margin-right: 0;
        }
    }
}