@import "common.less";


nav {
	margin-top: 15px;
	margin-left: ~"-webkit-calc(50% - 200px)";
    margin-left: ~"-moz-calc(50% - 200px)";
    margin-left: ~"-calc(50% - 200px)";
}

a {
	font-size: 14px;
	color: #036;
	text-decoration: underline;
}

.head {
	.menu {
        position: absolute;
		top: 0;
		right: 0;
		margin: 10px 10px 0 0;
        font-size: 14px;
        color: #666;
        background: #ddd;
        padding: 3px;
        .border-radius(10px);
        .box-shadow(~"3px 3px 10px gray");
        .gradient(~"linear-gradient(top, rgba(255,255,255,1) 0%,rgba(218,218,218,1) 100%)");

        a {
            text-decoration: underline;
            color: #666;
        }
        ul {
            list-style: none;
            display: none;
        }
        img {
            margin-left: 9px;
        }
        p {
            margin: 3px 11px 3px 0;
            text-shadow: 1px 1px white;
            display: inline;
            padding-left: 10px; 

	        &:before {
	            background: url("../img/tr.png") no-repeat;
	            content: " ";
	            width: 8px;
	            height: 8px;
	            display: inline-block;
	            margin-right: 2px;
	        }
	    }

        li {
            margin: 3px;
            margin-left: 20px;
            margin-top: 7px;
        }

        &:hover {
	        ul {
	            display: block;
	            margin-top: 10px;
	        }
	        p:before {
	            background-position: 0 -8px;
	        }
	    }
    }

	nav {
		* {
			float: left;
			margin-right: 15px;
			display: inline;
			font-size: 14px;
		}

		p {
			font-weight: bold;
		}

		a {
			color: #036;
			text-decoration: underline
		}
	}
}

.main-layout {
	margin-top: 100px;
	.article {
		aside {
			width: 20%;
			float: left;
			margin-top: 140px;
	
			p {
				font-size: 10px;
				color: #666;
				line-height: 16px;
				font-family: Verdana, sans-serif;
			}

			img {
				width: 100%;
			}
		}
		article {
			float: right;
			width: 75%;

			h2 {
				font-size: 24px;
				font-weight: bold;

				margin-bottom: 75px;
			}

			p {
				font-size: 14px;
				color: #333;
			}
		}
	}
}

.others {
	margin-top: 80px;
	padding-top: 20px;
	border-top: 3px solid #b2b2b2;

	&> p {
		width: 25%;
		float: left;
		font-size: 14px;
		font-weight: bold;
		color: #333;
	}

	div {
		float: left;
		width: 23%;
		margin-right: 2%;

		&:last-child {
			margin-right: 0;
		}

		img {
			width: 100%;
		}

		p {
			font-size: 12px;
			color: #333;
		}
	}
}


.comments-box {
	margin-left: 20%;
	margin-top: 50px;
	border: 1px solid #ccc;
	padding: 5%;
	font-size: 12px;

	&> p {
		font-size: 18px;
	}

	a {
		font-size: 12px;
	}

	.comment-form {
	    width: 90%;
		margin-top: 10px; 
		margin-bottom: 20px;

	    input[type=submit] {
	        float: right;
	    }
	    input[type=text] {
	    	width: 100%;
		    max-width: 240px;
		    margin-bottom: 10px;
		}
		textarea {
			width: 100%;
		    height: 50px;
		    margin-bottom: 13px;
		    padding: 2px;
			resize: none;
			border: 1px solid #ccc;
			.transition(~"height 0.4s 0.3s");
			.box-shadow(~"inset 1px 1px 3px #aaa");

		    &:focus {
		    	height: 80px;
		    }
		}
	    * {
	        font-size: 12px;
	    }
	}

	.comment {
		border-bottom: 1px solid #ccc;
		margin-bottom: 15px;
		padding-bottom: 10px;

		.name {
			font-weight: bold;
			display: inline;
			margin-right: 5px;
		}
		.time {
			display: inline;
			color: #666;
		}
		.message {
			padding-top: 10px;
			padding-bottom: 10px;
			color: #333;
		}
	}

	.thread {
		margin-left: 12%;
	}
}

.warning {
	color: red;
	margin-left: -20px;

	&:before {
		background: url("../img/warning.png") no-repeat;
        content: " ";
        width: 14px;
        height: 14px;
        display: inline-block;
        margin-right: 5px;
	}
}

footer {
	margin-top: 40px;
}

@media only screen and (max-width: 640px),
only screen and (max-device-width: 640px) {
    .main-layout .article {
    	aside {
    		display: none;
    	}
		article {
			width: 100%;
		}
    }

    .head {
    	padding-left: 10%;
    	padding-right: 10%;
    	nav {
	    	margin-top: 35px;
	    	margin-left: 0;
    	}

    	.menu {
    		right: 10%;
    	}
    }

    .comments-box {
    	margin-left: 0;
    }
}